/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$color-black: #000;
$color-white: #fff;
$base-font-size: 16px;

$max-width-mobile: 768px;
$max-width-tablet: 1024px;
$max-width-netbook: 1440px;

/* Components */
